.menu__side {
  width: 100px;
  height: 100%;
  background: #021f5c;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  border-right: 40px solid #021f5c;
  transition: 0.3s ease all;
}

.menu__side_move {
  width: 250px;
  left: 0;
}

body.dark .menu__side {
  width: 100px;
  height: 100%;
  background: #152937;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  border-right: 40px solid#152937;
  transition: 0.3s ease all;
}

body.dark .menu__side_move {
  width: 250px;
  left: 0;
}

header {
  left: 100px;
  right: 0;
  height: 80px;
  background: #08245f;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: 0.3s ease all;
}

header.header_move {
  left: 250px;
}

body.dark header {
  background: #152937;
}

.separator {
  flex: 1;
}

.icon__menu .lateral img {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
}

.name_page {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.name_page img {
  width: 30px;
  margin-right: 10px;
}

.options__menu {
  padding: 20px 30px;
  position: absolute;
  top: 80px;
}

.options__menu a {
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a:hover {
  color: white;
}

.options__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option img {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.options__menu .option h4 {
  font-weight: 300;
  cursor: pointer;
}

a.selector {
  color: #fff;
}
.selector:before {
  content: "";
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

.icon__menu,
.icon__configuracion {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
  position: relative;
}

.icon__menu img,
.icon__configuracion img {
  cursor: pointer;
  position: absolute;
}

.icon__menu,
.icon__configuracion {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
  position: relative;
}

.logout img {
  cursor: pointer;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.logout img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* estética del botón de tema */
.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

body.dark .switch {
  background: #1c1c1c;
}

body.dark .switch.active {
  background: #ffa500;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 40px;
  display: block;
  background: none;
  color: #fff;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

body.dark .menu__side {
  background: #152937;
}

body.dark header {
  background: #152937;
}
