.container_proveedores {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container_proveedores_buscar {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container_proveedores_buscar label {
  margin-left: 10px;
}

.container_proveedores_buscar input[type="text"],
.container_proveedores_buscar input[type="date"] {
  flex: 1;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s;
}

.container_proveedores_buscar input[type="text"]:focus,
.container_proveedores_buscar input[type="date"]:focus {
  border-color: #007bff;
}

.table_de_proveedores {
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table_de_proveedores th,
.table_de_proveedores td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table_de_proveedores thead th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.table_de_proveedores tbody tr:hover {
  background-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  body.dark .container_proveedores_buscar {
    background-color: #3a3a3a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }

  body.dark .container_proveedores_buscar input[type="text"],
  body.dark .container_proveedores_buscar input[type="date"] {
    background-color: #555;
    border: 1px solid #444;
    color: white;
  }

  body.dark .container_proveedores_buscar input[type="text"]:focus,
  body.dark .container_proveedores_buscar input[type="date"]:focus {
    border-color: #ff9800;
  }

  body.dark .container_proveedores {
    background-color: #3a3a3a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  }

  body.dark .table_de_proveedores thead th {
    background-color: #4a90e2;
  }

  body.dark .table_de_proveedores tbody tr:hover {
    background-color: #555;
  }
}

.table_de_proveedores td form {
  display: inline-block;
}

.table_de_proveedores td form button {
  padding: 8px 16px;
  background-color: #baf4b1;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table_de_proveedores td form button:hover {
  background-color: #7db175;
}

.table_de_proveedores td form button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
  body.dark .table_de_proveedores td form button {
    background-color: #baf4b1;
  }

  body.dark .table_de_proveedores td form button:hover {
    background-color: #7db175;
  }
}
