{% extends "base.html" %} {% block title %}Clientes{% endblock %} {% block head
%} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/Clientes.css') }}"
/>
{% endblock %} {% block content %} {% include 'sidebar.html' %}
<main>
  <div class="container_clientes">
    <h1>Clientes</h1>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
      <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="container_clientes_buscar">
      <input
        type="text"
        id="searchInput"
        onkeyup="searchTable()"
        placeholder="Buscar por ID, nombre o cédula..."
      />

      <button onclick="mostrarFormulario()">Añadir clientes</button>
      <a href="{{ url_for('realizar_venta') }}"
        ><button class="Realizar_venta">Realizar venta</button></a
      >

      <button class="Actualizar" onclick="abrirModalActualizar()">
        Actualizar
      </button>
      <button class="Eliminar" onclick="eliminarClientes()">Eliminar</button>
    </div>

    <div class="clientes">
      <table class="table_de_clientes">
        <thead>
          <tr>
            <th><input type="checkbox" id="select-all" /></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Cédula</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>
              <input
                type="checkbox"
                class="cliente-checkbox"
                data-id="{{ cliente.id }}"
              />
            </td>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.cedula }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div
    id="alerta"
    class="alert alert-primary d-flex align-items-center"
    role="alert"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16"
      role="img"
      aria-label="Warning:"
    >
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
    <div id="alerta-mensaje">Debe seleccionar un cliente para actualizar.</div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      onclick="cerrarAlerta()"
    ></button>
  </div>

  <div
    id="alerta-eliminar"
    class="alert alert-eliminar d-flex align-items-center"
    role="alert"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      viewBox="0 0 16 16"
      role="img"
      aria-label="Warning:"
    >
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
    <div id="alerta-mensaje-eliminar">
      Debe seleccionar al menos un cliente para eliminar.
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      onclick="cerrarAlertaEliminar()"
    ></button>
  </div>
</main>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cerrarFormulario()">&times;</span>
    <h2>Agregar Nuevo Cliente</h2>
    <form
      id="formulario"
      action="{{ url_for('clientes') }}"
      method="POST"
      onsubmit="return validarFormulario()"
    >
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        value="{{ request.form.nombre or '' }}"
        required
        onkeydown="return validarNombre(event)"
      /><br />

      <label for="direccion">Dirección:</label>
      <input
        type="text"
        id="direccion"
        name="direccion"
        value="{{ request.form.direccion or '' }}"
        required
      /><br />
      <label for="telefono">Teléfono:</label>
      <input
        type="text"
        id="telefono"
        name="telefono"
        value="{{ request.form.telefono or '' }}"
        required
        onkeydown="return validarNumero(event)"
      /><br />
      <label for="cedula">Cédula:</label>
      <input
        type="text"
        id="cedula"
        name="cedula"
        value="{{ request.form.cedula or '' }}"
        required
        onkeydown="return validarNumero(event)"
      /><br />

      {% if error_messages %}
      <div class="error-messages">
        {% for message in error_messages %}
        <div class="error-message">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}

      <input type="submit" value="Agregar" />
    </form>
  </div>
</div>

<div id="modal-actualizar" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" onclick="cerrarModalActualizar()">&times;</span>
    <h2>Actualizar Cliente</h2>
    <form
      id="formulario-actualizar"
      method="POST"
      action="{{ url_for('actualizar_cliente') }}"
    >
      <input
        type="hidden"
        id="cliente_id_actualizar"
        name="cliente_id_actualizar"
      />

      <label for="nombre_actualizar">Nombre:</label>
      <input
        type="text"
        id="nombre_actualizar"
        name="nombre_actualizar"
        required
        onkeydown="return validarNombre(event)"
      /><br />
      <label for="direccion_actualizar">Dirección:</label>
      <input
        type="text"
        id="direccion_actualizar"
        name="direccion_actualizar"
        required
      /><br />
      <label for="telefono_actualizar">Teléfono:</label>
      <input
        type="text"
        id="telefono_actualizar"
        name="telefono_actualizar"
        required
        onkeydown="return validarNumero(event)"
      /><br />
      <label for="cedula_actualizar">Cédula:</label>
      <input
        type="text"
        id="cedula_actualizar"
        name="cedula_actualizar"
        required
        onkeydown="return validarNumero(event)"
      /><br />

      <button type="submit">Actualizar</button>
    </form>
  </div>
</div>

<div id="modal-seleccion-multiple" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" onclick="cerrarModalSeleccionMultiple()">&times;</span>
    <p>Seleccione solo un cliente para actualizar.</p>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/component.js') }}"></script>
<script>
  function validarNombre(event) {
    // Permitir solo letras y espacios
    if (
      (event.key >= "a" && event.key <= "z") ||
      (event.key >= "A" && event.key <= "Z") ||
      event.key === " "
    ) {
      return true;
    } else {
      event.preventDefault();
      return false;
    }
  }

  function validarNumero(event) {
    // Permitir: backspace, delete, tab, escape, enter y .
    if (
      ["Backspace", "Delete", "Tab", "Escape", "Enter", "."].indexOf(
        event.key,
      ) !== -1 ||
      ((event.ctrlKey || event.metaKey) &&
        ["a", "c", "v", "x"].indexOf(event.key) !== -1) ||
      // Permitir: numeros del 0 al 9
      (event.key >= "0" && event.key <= "9")
    ) {
      // Solo permitir un .
      if (event.key === "." && event.target.value.includes(".")) {
        event.preventDefault();
        return false;
      }
      // Permitir numeros y puntos
      if (event.key === "." && event.target.value === "") {
        event.preventDefault();
        return false;
      }
      // Solo permitir dos decimales
      if (
        event.key === "." &&
        event.target.value.split(".").length > 1 &&
        event.target.value.split(".")[1].length >= 2
      ) {
        event.preventDefault();
        return false;
      }
    } else {
      event.preventDefault();
      return false;
    }
    return true;
  }

  document.addEventListener("DOMContentLoaded", function () {
    const errorMessages = document.querySelectorAll(".error-message");
    if (errorMessages.length > 0) {
      mostrarFormulario();
    }
  });

  function mostrarFormulario() {
    limpiarCampos(); // Limpia los campos del formulario
    const modal = document.getElementById("modal");
    modal.style.display = "block";
  }

  function cerrarFormulario() {
    const modal = document.getElementById("modal");
    modal.style.display = "none";
  }

  function limpiarCampos() {
    document.getElementById("formulario").reset();
  }
  function obtenerClientesSeleccionados() {
    const checkboxes = document.querySelectorAll(".cliente-checkbox:checked");
    const ids = Array.from(checkboxes).map((checkbox) =>
      checkbox.getAttribute("data-id"),
    );
    return ids;
  }

  function eliminarClientes() {
    const ids = obtenerClientesSeleccionados();
    if (ids.length === 0) {
      mostrarAlertaEliminar("Seleccione al menos un cliente para eliminar.");
      return;
    }

    const confirmacion = confirm(
      "¿Está seguro de que desea eliminar los clientes seleccionados?",
    );
    if (!confirmacion) {
      return;
    }

    // Crear un formulario y enviarlo para eliminar los clientes
    const form = document.createElement("form");
    form.method = "POST";
    form.action = "{{ url_for('eliminar_clientes') }}";

    ids.forEach((id) => {
      const input = document.createElement("input");
      input.type = "hidden";
      input.name = "cliente_ids";
      input.value = id;
      form.appendChild(input);
    });

    document.body.appendChild(form);
    form.submit();
  }

  const selectAllCheckbox = document.getElementById("select-all");
  const checkboxes = document.querySelectorAll(".cliente-checkbox");

  selectAllCheckbox.addEventListener("change", function () {
    checkboxes.forEach(function (checkbox) {
      checkbox.checked = selectAllCheckbox.checked;
    });
  });

  function abrirModalActualizar() {
    const checkboxes = document.querySelectorAll(".cliente-checkbox:checked");

    const filaSeleccionada = document.querySelector(
      "input.cliente-checkbox:checked",
    );

    if (!filaSeleccionada) {
      mostrarAlerta("Debe seleccionar un cliente para actualizar.");
      return;
    }

    if (checkboxes.length !== 1) {
      mostrarModalSeleccionMultiple();
      return;
    }

    const checkbox = checkboxes[0];
    const fila = checkbox.closest("tr");

    const clienteId = checkbox.getAttribute("data-id");
    const nombre = fila.cells[2].textContent;
    const direccion = fila.cells[3].textContent;
    const telefono = fila.cells[4].textContent;
    const cedula = fila.cells[5].textContent;

    document.getElementById("cliente_id_actualizar").value = clienteId;
    document.getElementById("nombre_actualizar").value = nombre;
    document.getElementById("direccion_actualizar").value = direccion;
    document.getElementById("telefono_actualizar").value = telefono;
    document.getElementById("cedula_actualizar").value = cedula;

    document.getElementById("modal-actualizar").style.display = "block";
  }

  function cerrarModalActualizar() {
    document.getElementById("modal-actualizar").style.display = "none";
  }

  function mostrarModalSeleccionMultiple() {
    document.getElementById("modal-seleccion-multiple").style.display = "block";
  }

  function cerrarModalSeleccionMultiple() {
    document.getElementById("modal-seleccion-multiple").style.display = "none";
  }

  function searchTable() {
    let input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.querySelector(".table_de_clientes");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      for (let j = 1; j < td.length; j++) {
        // comparamos cada celda de la tabla
        let cell = td[j];
        if (cell) {
          txtValue = cell.textContent || cell.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            break; // si se encuentra una coincidencia, mostramos la fila y salimos del bucle
          } else {
            tr[i].style.display = "none"; // si no hay coincidencia, ocultamos la fila
          }
        }
      }
    }
  }

  function realizarVenta() {
    document.getElementById("modal-venta").style.display = "block";
  }

  function cerrarModalVenta() {
    document.getElementById("modal-venta").style.display = "none";
    limpiarCamposVenta();
  }

  function limpiarCamposVenta() {
    document.getElementById("formulario-venta").reset();
  }

  // Alertas
  function mostrarAlerta(mensaje) {
    const alerta = document.getElementById("alerta");
    const alertaMensaje = document.getElementById("alerta-mensaje");
    alertaMensaje.textContent = mensaje;

    alerta.classList.add("show");
    setTimeout(() => {
      alerta.classList.remove("show");
    }, 5000);
  }

  function cerrarAlerta() {
    const alerta = document.getElementById("alerta");
    alerta.classList.remove("show");
  }

  function mostrarAlertaEliminar(mensaje) {
    const alertaEliminar = document.getElementById("alerta-eliminar");
    const alertaEliminarMensaje = document.getElementById(
      "alerta-mensaje-eliminar",
    );
    alertaEliminarMensaje.textContent = mensaje;

    // Cerrar la alerta de actualizar si está abierta
    cerrarAlerta();

    alertaEliminar.classList.add("show");
    setTimeout(() => {
      alertaEliminar.classList.remove("show");
    }, 5000);
  }

  function cerrarAlertaEliminar() {
    const alertaEliminar = document.getElementById("alerta-eliminar");
    alertaEliminar.classList.remove("show");
  }

  function cerrarFlashMessage(button) {
    const flashMessage = button.closest(".flash-message");
    flashMessage.classList.remove("show");
    setTimeout(() => {
      flashMessage.remove();
    }, 300);
  }

  document.addEventListener("DOMContentLoaded", function () {
    const flashMessages = document.querySelectorAll(".flash-message");
    flashMessages.forEach((message) => {
      setTimeout(() => {
        message.classList.remove("show");
        setTimeout(() => {
          message.remove();
        }, 300);
      }, 5000);
    });
  });
</script>
{% endblock %}
