{% extends "base.html" %} {% block title %}Clientes{% endblock %} {% block head
%} {{ super() }}
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/Productos.css') }}"
/>
{% endblock %} {% block content %} {% include 'sidebar.html' %}
<main>
  <h1>Clientes</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Cédula</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se mostrarán los datos del clientes -->
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.cedula }}</td>
      </tr>
    </tbody>
  </table>
  <button onclick="mostrarFormulario()">Modificar Cliente</button>
</main>

<!-- Ventana emergente para agregar un nuevo cliente -->
<div id="formulario_cliente" style="display: none">
  <h2>Agregar Nuevo Cliente</h2>
  <form action="{{ url_for('clientes') }}" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required /><br />

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion" required /><br />

    <label for="telefono">Teléfono:</label>
    <input
      type="text"
      id="telefono"
      name="telefono"
      required
      onkeydown="return validarNumero(event)"
    /><br />

    <label for="cedula">Cédula:</label>
    <input
      type="text"
      id="cedula"
      name="cedula"
      required
      onkeydown="return validarNumero(event)"
    /><br />

    <input type="submit" value="Agregar" />
  </form>
  <button onclick="cerrarFormulario()">Cerrar</button>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/component.js') }}"></script>

<script>
  function validarNumero(event) {
    // Permitir: backspace, delete, tab, escape, enter y .
    if (
      event.key === "Backspace" ||
      event.key === "Delete" ||
      event.key === "Tab" ||
      event.key === "Escape" ||
      event.key === "Enter" ||
      event.key === "."
    ) {
      return true;
    }
    // Permitir: Ctrl+A, Ctrl+C, Ctrl+V, Ctrl+X
    if (
      (event.ctrlKey || event.metaKey) &&
      (event.key === "a" ||
        event.key === "c" ||
        event.key === "v" ||
        event.key === "x")
    ) {
      return true;
    }
    // Permitir: las teclas de flecha
    if (
      event.key === "ArrowLeft" ||
      event.key === "ArrowRight" ||
      event.key === "ArrowUp" ||
      event.key === "ArrowDown"
    ) {
      return true;
    }
    // Asegurarse de que es un número
    if (!/^[0-9]$/.test(event.key)) {
      event.preventDefault();
      return false;
    }
    return true;
  }

  function mostrarFormulario() {
    document.getElementById("formulario_cliente").style.display = "block";
  }

  function cerrarFormulario() {
    document.getElementById("formulario_cliente").style.display = "none";
  }
</script>
{% endblock %}
