<header>
  <div class="icon__menu">
    <img
      src="{{ url_for('static', filename='imagenes/icons/menu.png') }}"
      alt=""
      id="btn_open"
    />
  </div>
  <div class="icon__configuracion">
    <img
      src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
      alt=""
    />
  </div>
  <div class="icon__configuracion">
    <img
      src="{{ url_for('static', filename='imagenes/icons/ayuda.png') }}"
      alt=""
    />
  </div>
  <div class="separator"></div>
  <div class="boton">
    <button class="switch" id="switch">
      <span>
        <img
          src="{{ url_for('static', filename='imagenes/icons/sol.png') }}"
          alt=""
        />
      </span>
      <span>
        <img
          src="{{ url_for('static', filename='imagenes/icons/luna.png') }}"
          alt=""
        />
      </span>
    </button>
  </div>
  <div class="logout">
    <a href="{{ url_for('logout') }}">
      <img
        src="{{ url_for('static', filename='imagenes/icons/salida.png') }}"
        alt="Logout"
      />
    </a>
  </div>
</header>

<div class="menu__side" id="menu_side">
  <div class="name_page">
    <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="" />
    <h4>CamiCandy</h4>
  </div>

  <div class="options__menu">
    <a
      href="{{ url_for('dashboard') }}"
      class="{{ 'selector' if current_page == 'dashboard' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/dashboard.png') }}"
          title="Dashboard"
        />
        <h4>Dashboard</h4>
      </div>
    </a>
    <a
      href="{{ url_for('clientes') }}"
      class="{{ 'selector' if current_page == 'clientes' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/clientes.png') }}"
          title="Cliente"
        />
        <h4>Clientes</h4>
      </div>
    </a>
    <a
      href="{{ url_for('transacciones') }}"
      class="{{ 'selector' if current_page == 'transacciones' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/icons8-transacción-30.png') }}"
          title="Transacciones"
        />
        <h4>Transacciones</h4>
      </div>
    </a>
    {% if rol == "administrador" %}
    <a
      href="{{ url_for('productos') }}"
      class="{{ 'selector' if current_page == 'productos' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/productos.png') }}"
          title="productos"
        />
        <h4>Productos</h4>
      </div>
    </a>
    <a
      href="{{ url_for('proveedores') }}"
      class="{{ 'selector' if current_page == 'proveedores' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/proveedores.png') }}"
          title="Proveedores"
        />
        <h4>Proveedores</h4>
      </div>
    </a>
    <a
      href="{{ url_for('reportes') }}"
      class="{{ 'selector' if current_page == 'reportes' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/reportes.png') }}"
          title="Reportes"
        />
        <h4>Reportes</h4>
      </div>
    </a>
    <a
      href="{{ url_for('herramientas') }}"
      class="{{ 'selector' if current_page == 'herramientas' else '' }}"
    >
      <div class="option">
        <img
          src="{{ url_for('static', filename='imagenes/icons/herramientas.png') }}"
          title="Herramientas"
        />
        <h4>Herramientas</h4>
      </div>
    </a>
    {% endif %}
  </div>
</div>
